.sub-header {
	background: rgba(225,184,28,0.80);
}
/*.sub-header:before,
.sub-header:after {
	background: inherit;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	width: 9999rem;
}
.sub-header:before {
	left: -9999rem;
	margin-left: -198px;
}
.sub-header:after {
	right: -9999rem;
}*/
.cover-feature {
	background-position: right center;
}
.cover-feature header {
	padding-bottom: 0.5rem;
}
.cover-feature h1 {
	font-size: 2.1rem;
}
.cover-feature h1 a {
	color: #fff;
}
.cover-feature h1 a:hover {
	color: #c60c30
}
.cover-feature .teaser .article-summary {
	background: rgba(255, 255, 255, 0.75);
	color: #5e6a71;
	padding: 1rem 2rem 1rem 1rem;
	margin-right: -2rem;
	width: 45%;
}
.cover-feature .article-summary p {
	font-size: 1.1em;
	padding-bottom: 0.3em;
}
.section-header h2 {
	background: #ffb81c;
}
@media screen and (max-width:989px) {
	.sub-header:before {
		margin-left: 0;
	}
}