.main-header sub {
	color: #5e6a71;
}
.cover-feature header {
	/*padding-bottom: 1rem;*/
	padding-bottom: 0;
	text-align: right;
}
/*.cover-feature h1 {
	background: rgba(255,255,255,0.5);
	display: inline-block;
	font-weight: normal;
	margin: 0 -2rem 0 0;
	padding: 1rem 2rem;
	position: relative;
}
.cover-feature h1:after {
	background: inherit;
	content: '';
	height: 100%;
	position: absolute;
	right: -9999rem;
	top: 0;
	width: 9999rem;
}*/
.cover-feature h1 a {
	color: #fff;
}
.cover-feature h1 a:hover {
	color: #c60c30;
}
.cover-feature .article-summary {
	display: none;
}
.cover-stories article:nth-of-type(2) .featured-image {
	background-position: left center;
}
.section-header h2 {
	background-color: #8ea1b4;
}
.flag {
	background: rgba(142,161,180,0.8);
}