.sub-header {
	color: #5e6a71;
}
.cover-stories article:first-of-type header {
	text-align: right;
}
.cover-stories article:first-of-type h1 {
	color: #5e6a71;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: normal;
	margin-top: 0.5rem;
}
.cover-stories article:nth-of-type(2) .featured-image {
	background-position: left center;
}
.section-header h2 {
	background-color: #8ea1b4;
}
.flag {
	background: rgba(142,161,180,0.8);
}