/* Header */
.main-header {
	height: 198px;
	left: 0;
	overflow: hidden;
	position: absolute;
	z-index: 1;
}
.main-header hgroup {
	background: none;
	box-sizing: border-box;
	font-size: 0;
	height: 100%;
	margin: 0 auto;
	max-width: 990px;
	padding-left: 198px;
}
.main-header hgroup:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/* Home navigation */
.home .reconnect-header-nav {
	display: block;
	line-height: 0;
	position: absolute;
	top: 0;
}
.reconnect-header-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.reconnect-header-nav ul:before,
.reconnect-header-nav ul:after {
	content: ' ';
	display: table;
}
.reconnect-header-nav ul:after {
	clear: both;
}
.reconnect-header-nav li {
	float: left;
	font-size: 13px;
	line-height: 13px;
	padding: 1px 0 1px 1px;
}
.reconnect-header-nav a {
	background: rgba(255,255,255,0.5);
	color: #5e6a71;
	display: block;
	padding: 0.5rem 2rem;
	transition: background-color .2s linear, color .2s linear;
}
.reconnect-header-nav a:hover {
	background: rgba(94,106,113,0.75);
	color: #fff;
}

/* Headings */
.main-header .sup-header {
	display: inline-block;
	font-size: 1rem;
	padding: 0 2rem;
	vertical-align: middle;
}
.sup-header-default img {
	height: auto;
	max-width: 100%;
	width: 100%;
}
.main-header sub {
	bottom: 0;
	box-sizing: border-box;
	font-size: 15px;
	max-width: 792px;
	padding: 0.5rem 2rem;
	position: absolute;
	text-transform: uppercase;
	width: 100%;
}
.sub-header-default {
	text-align: center;
	display: block;
}

/* Sections */
.home .row.single.features .column,
.home .row.single.alumni-news .column,
.home .row.single.small-bites .column {
	width: 990px;
}

/* General article styles */
article {
	margin-bottom: 4rem;
	position: relative;
	transition: opacity .2s ease-in-out;
}
article:last-of-type {
	margin-bottom: 3rem;
}
.column:hover article:not(:hover) {
	opacity: 0.4;
}
.cover-suite figure,
.features figure,
.category-profile figure,
.category-alumni-news figure {
	height: 100%;
	position: absolute;
}
.cover-suite figure,
.category-profile figure {
	float: left;
	width: 31%;
}
.featured-image {
	height: 100%;
}
.cover-suite .article-summary,
.category-profile .article-summary {
	margin-left: 31%;
	padding: 0.5rem 0 0.5rem 2rem;
}
h3 {
	font-size: 1.2rem;
	padding-top: 0;
}
.flag {
	background: rgba(94,106,113,0.8);
}

/* Cover pieces */
.row.single.cover-stories .column {
	max-width: 100%;
	width: 100%;
}
.cover-stories article {
	margin-bottom: 2rem;
}
.cover-feature {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 800px;
	position: relative;
	text-align: right;
}
.cover-feature header {
	padding-bottom: 2rem;
}
.cover-feature .teaser {
	bottom: 0;
	box-sizing: border-box;
	left: 0;
	margin: 0 auto;
	max-width: 990px;
	padding: 2rem;
	position: absolute;
	right: 0;
	width: 100%;
}
.archive.date .cover-feature .teaser {
	margin: 0;
	max-width: 792px;
}
.cover-feature .article-summary {
	color: #fff;
	float: right;
	width: 35%;
}
.cover-feature .article-summary p {
	font-size: 1.3em;
}
.cover-feature .teaser .more-button {
	clear: both;
	padding-top: 1rem;
}
.cover-feature .teaser .more-button a {
	border: 1px solid #fff;
	color: #fff;
}
.cover-feature .teaser .more-button a:hover {
	background-color: #fff;
	color: #981e32;
}
.cover-suite {
	box-sizing: border-box;
	max-width: 792px;
}
.home .cover-suite {
	margin: 2rem auto;
	max-width: 926px;
	width: 100%;
}

/* Features */
.features article:before,
.features article:after,
.category-alumni-news:before,
.category-alumni-news:after {
	content: ' ';
	display: table;
}
.features article:after,
.category-alumni-news:after {
	clear: both;
}
.features .article-summary,
.features figure,
.category-alumni-news .article-summary,
.category-alumni-news figure {
	box-sizing: border-box;
	width: 50%;
}
.features figure,
.category-alumni-news figure {
	padding: 0 1rem 0 0;
}
.features article:nth-of-type(even) figure,
.category-alumni-news:nth-of-type(even) figure {
	padding: 0 0 0 1rem;
	right: 0;
}
.features .article-summary,
.category-alumni-news .article-summary {
	float: left;
	margin: 0 0 0 50%;
	padding: 0.5rem 0 0.5rem 1rem;
}
.features article:nth-of-type(even) .article-summary,
.category-alumni-news:nth-of-type(even) .article-summary {
	margin: 0 50% 0 0;
	padding: 0.5rem 1rem 0.5rem 0;
}
.features article:nth-of-type(even) .more-button,
.category-alumni-news:nth-of-type(even) .more-button {
	text-align: right;
}

/* Alumni News - Profile */
.category-profile .flag {
	color: #fff;
	padding: 0.25rem 0.75rem;
	position: absolute;
	right: 69%;
	bottom: 0.5rem;
}

/* Alumni News - Future Cougs */

/* Alumni News - Classmate Notes */

/* Small Bites */
.small-bites .column {
	-webkit-column-count: 3;
	-moz-column-count:    3;
	column-count:         3;
	-webkit-column-gap: 3rem;
	-moz-column-gap:    3rem;
	column-gap:         3rem;
}
.small-bites .column article {
	column-break-inside: avoid;
	display: inline-block;
	margin-bottom: 3rem;
	position: relative;
}
.small-bites .flag {
	color: #fff;
	padding: 0.25rem 0.75rem;
	position: absolute;
	right: 0;
	top: 0.5rem;
}
.small-bites .featured-image {
	height: auto;
}
.small-bites .featured-image img {
	display: block;
	visibility: hidden;
}
.small-bites .has-post-thumbnail .article-summary {
	padding-top: 1rem;
}

/* More buttons */
.more-button {
	font-weight: bold;
	padding-bottom: 0;
}
.more-button a {
	border: 1px solid #981e32;
	color: #981e32;
	display: inline-block;
	padding: .5rem 1rem;
	text-transform: uppercase;
	transition: background-color .2s linear, color .2s linear;
}
.more-button a:hover {
	background-color: #981e32;
	color: #fff;
}

/* Spine mod */
.home #spine:not(.skimmed) #glue:before {
	opacity: 0.75;
}

/* Footer */
.main-footer {
	color: #8d959a;
	padding: 4rem 2rem 2rem 2rem;
	text-align: center;
}
.main-footer .stylized-name .re {
	font-size: 19px;
	text-transform: lowercase;
}
.main-footer .stylized-name .connect {
	color: #5e6a71;
	font-weight: bold;
	text-transform: uppercase;
}
@media screen and (max-width:989px) {
	.main-header {
		height: auto;
	}
	.main-header hgroup {
		max-width: 792px;
		padding-left: 0;
	}
	.home .reconnect-header-nav {
		display: none;
	}
	.main-header .sup-header {
		padding: 2rem 2rem 3.8rem;
	}
	.spine-main-index .section-header,
	.archive.date .section-header {
		overflow: visible;
	}
	.home .row.single.features .column,
	.home .row.single.alumni-news .column,
	.home .row.single.small-bites .column {
		width: 100%;
	}
}
@media screen and (max-width:791px) {
	.main-header .sup-header {
		padding: 2rem 1rem;
	}
	.main-header sub {
		position: relative;
	}
	.cover-feature {
		height: 600px;
	}
}
@media only screen and (max-width:693px) {
	.cover-suite {
		padding: 0 2rem;
	}
	.cover-suite figure,
	.cover-suite .article-summary,
	.features figure,
	.features article:nth-of-type(even) figure,
	.features .article-summary,
	.features article:nth-of-type(even) .article-summary,
	.category-profile figure,
	.category-profile .article-summary {
		display: block;
		float: none;
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
	}
	.cover-suite figure,
	.features figure,
	.features article:nth-of-type(even) figure,
	.category-profile figure {
		margin-bottom: 1rem;
	}
	.cover-suite .featured-image img,
	.features .featured-image img,
	.category-profile figure .featured-image img {
		display: block;
		visibility: hidden;
	}
	.article-summary .more-button,
	.features article:nth-of-type(even) .article-summary .more-button {
		text-align: center;
	}
	.category-profile .flag {
		right: 0;
		bottom: auto;
		top: 0.5rem;
	}
	.small-bites .column {
		-webkit-column-count: 2;
		-moz-column-count:    2;
		column-count:         2;
		-webkit-column-gap: 2rem;
		-moz-column-gap:    2rem;
		column-gap:         2rem;
	}
	.small-bites .column article {
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 550px) {
	.cover-feature {
		height: 500px;
	}
	.cover-feature .article-summary {
		display: none;
	}
}
@media only screen and (max-width:425px) {
	.small-bites .column {
		-webkit-column-count: auto;
		-moz-column-count:    auto;
		column-count:         auto;
	}
}